body {
  background-image: url("");
}
p1 {
  height: 20px;
  width: 250px;
  background-color: powderblue;
  
}
#home {
  width: 46px;
  height: 44px;
  background-image: url(css.css);
  background-position: 0 0;
}